[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha
[submodule "vendor/haxeui-kha"]
	path = vendor/haxeui-kha
	url = https://github.com/haxeui/haxeui-kha
[submodule "vendor/haxeui-core"]
	path = vendor/haxeui-core
	url = https://github.com/haxeui/haxeui-core
[submodule "vendor/keyson"]
	path = vendor/keyson
	url = https://github.com/theKeyboardEditor/keyson
[submodule "vendor/slide"]
	path = vendor/slide
	url = https://github.com/AndreiRudenko/slide
