.modeSelector {
	width: 64px;
	height: 100%;
	background-color: #282828;
}
.modeSelector button {
	width: 64px;
	height: 64px;
}
.modeSelector button:down {
	border-left: 3px solid $accent-color;
} 
.menu-item-picker {
	background-color: #1d2021;
	border: none;
}
.item-picker-container {
	border: none;
}

.palette-sidebar button:down {
	border: 2px solid $accent-color;
