/* Mode Selector */
.modeSelector {
	width: 64px;
	height: 100%;
	background-color: #282828;
}
.modeSelector button {
	width: 64px;
	height: 64px;
}
.modeSelector button:down {
	border-left: 3px solid $accent-color;
}

/* Tabs */
#tabs {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #1d2021;
}
#tabs .tabview-content {
	background-color: #282828;
}

/* Picker */
.menu-item-picker {
	background-color: #1d2021;
	border: none;
}
.item-picker-container {
	border: none;
}

/* Status Bar */
.status-container {
	background-color: $accent-color;
}
#action, #pos {
	color: white;
	background-color: $accent-color;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
}

/* Sidebars */
.left-box {
	spacing: 0;
}

#color-sidebar button:down, #place-sidebar button:down {
	border: 2px solid $accent-color;
}
